<?xml version ="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name ="DBConnectionString" connectionString="Data Source=85.190.254.173;
             Initial Catalog=2122_INF1c_db4;
             User ID=2122_INF1c_groep4;
             Password=E!z33jcD#4QT"/>
	</connectionStrings>
</configuration>